.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;
    gap: 0.5rem;
    filter: brightness(1);
    cursor: pointer;
}

.card:hover {
    filter: brightness(0.75);
}

.image-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.image {
    object-fit: cover;
    border-radius: 1rem;
}

.image-star {
    position: absolute;
    top: 10px;
    right: 10px;
}

.title {
    color: var(--salmon);
}

.address {
    font-family: 'Inconsolata', sans-serif;
    line-height: 150%;
}