/* FIXME: switch this to self-hosted later */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --salmon: #EA7153;
  --mist: #C7B9B6;
  --lemon: #E4DE84;
  --cream: #EBECC2;
  --pale: #E9E9E9;
  --obsidian: #2D3235;

  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.quill {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-container {
  flex: 1;
}