.container {
    display: flex;
    justify-content: space-between;
}

.container > h3 {
    font-family: 'Inconsolata';
    font-size: 1rem;
}

.options {
    display: flex;
    gap: 0.25rem;
}

.icon {
    cursor: pointer;
}