.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 2em;
}

.title {
  color: var(--salmon);
  font-size: 36px;
  font-weight: bold;
}

.image {
  /* FIXME: refactor image into its own component */
  width: 300px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 1rem;
  background-color: var(--pale);
  margin: 0.5em 0;
  color: var(--mist);
}

.input {
  margin: 0.5em 0;
}